{% load static %}
{% load compress %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hackathon</title>
    <!-- STYLES -->
    {% compress css %}
        <!-- MAIN -->
        <link rel="stylesheet" href='{% static "/css/investment/styles.css" %}'>
        <link rel="stylesheet" href='{% static "/css/investment/reset.css" %}'>
        <link rel="stylesheet" href='{% static "/css/investment/fonts/montserrat/montserrat.css" %}'>
    {% endcompress %}
    <!-- SCRIPTS -->
    {% compress js %}
        <!-- JQUERY -->
        <script src='{% static "/js/investment/libs/jquary/jquery.min.js" %}' defer></script>
        <!-- JQUERY-VALIDATE -->
        <script src='{% static "/js/investment/libs/jquary-validation/jquery.validate.min.js" %}' defer></script>
        <!-- BLOCKS -->
        <script src='{% static "/js/investment/select/select.js" %}' defer></script>
        <!-- MAIN -->
        <script src='{% static "/js/investment/main.js" %}' defer></script>
    {% endcompress %}
</head>
{% block content %}

{% endblock %}
</html>